* {
    margin: 0;
}

.markdown-body {
    padding: 2em;
    table {
        font-family: Menlo,'Bitstream Vera Sans Mono','DejaVu Sans Mono',Monaco,Consolas,monospace;
        font-size: .85em;
    }
}
