@import 'config.scss';

#markdown-toc {
    position: fixed;
    overflow-y: auto;
    color: $color-fg;
    background: $color-bg;
    width: $toc-width;
    min-width: $toc-minwidth;
    height: 100%;
    padding-top: $toc-shiftwidth;
    box-shadow: 0 0 5px 0 #000;

    ul {
        padding: 0;
        list-style: none;
    }

    a {
        color: $color-fg;
        text-decoration: none;
        display: block;
        width: 100%;
        line-height: $toc-lineheight;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    [class*="toc-h"] {
        &:hover {
            background: $color-hover;
        }
        &.toc-active {
            background: $color-active;
        }
    }

    @for $i from 1 through 4 {
        .toc-h#{$i} {
            font-size: #{1em - ($i - 1)/16};
            :before {
                content: "";
                padding-left: calc(#{$toc-shiftwidth * $i} + #{$button-size});
            }
        }
    }
}

.toc-button {
    position: fixed;
    top: $button-size/2;
    margin-left: $button-size/2;
    width: $button-size;
    height: $button-size;
    border-radius: 50%;
    background: $button-color-bg;
    cursor: pointer;
    &:before, &:after {
        transform: rotate(45deg);
        display: block;
        position: absolute;
        content: '';
        background-color: $color-fg;
        border-radius: $button-size/8;
    }
    &:before {
        width: $button-size/8 * 6;
        height: $button-size/8;
        top: $button-size/2 - $button-size/16;
        left: $button-size/8;
    }
    &:after {
        width: $button-size/8;
        height: $button-size/8 * 6;
        top: $button-size/8;
        left: $button-size/2 - $button-size/16;
    }
}
