$color-bg: #333;
$color-fg: #fff;
$color-active: #4078c0;
$color-hover: #444;

$toc-width: 20%;
$toc-minwidth: 200px;
$toc-shiftwidth: 1em;
$toc-lineheight: 2;

#markdown-toc {
    position: fixed;
    overflow-y: auto;
    color: $color-fg;
    background: $color-bg;
    width: $toc-width;
    min-width: $toc-minwidth;
    height: 100%;
    z-index: 255;
    box-shadow: 0 0 5px 0 #000;

    ul {
        padding: 0;
        list-style: none;
    }

    a {
        color: $color-fg;
        text-decoration: none;
        display: block;
        width: 100%;
        line-height: $toc-lineheight;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    [class*="toc-h"] {
        &:hover {
            background: $color-hover;
        }
        &.toc-active {
            background: $color-active;
        }
    }

    @for $i from 1 through 4 {
        .toc-h#{$i} {
            font-size: #{1em - ($i - 1)/16};
            :before {
                content: "";
                padding-left: #{$toc-shiftwidth * $i};
            }
        }
    }
}
